<a href="https://colab.research.google.com/github/Ankur099IIT/Sequences-Time-Series-and-Prediction-Course-4--deeplearning.ai/blob/main/Preparing_time_series_features_and_labels.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [23]:
import tensorflow as tf

In [24]:
dataset = tf.data.Dataset.range(10)

In [25]:
for val in dataset:
  print(val.numpy())

0
1
2
3
4
5
6
7
8
9

In [26]:
dataset = dataset.window(size = 5, shift = 1)

In [27]:
for window_dataset in dataset:
  print(window_dataset)

<_VariantDataset element_spec=TensorSpec(shape=(), dtype=tf.int64, name=None)>
<_VariantDataset element_spec=TensorSpec(shape=(), dtype=tf.int64, name=None)>
<_VariantDataset element_spec=TensorSpec(shape=(), dtype=tf.int64, name=None)>
<_VariantDataset element_spec=TensorSpec(shape=(), dtype=tf.int64, name=None)>
<_VariantDataset element_spec=TensorSpec(shape=(), dtype=tf.int64, name=None)>
<_VariantDataset element_spec=TensorSpec(shape=(), dtype=tf.int64, name=None)>
<_VariantDataset element_spec=TensorSpec(shape=(), dtype=tf.int64, name=None)>
<_VariantDataset element_spec=TensorSpec(shape=(), dtype=tf.int64, name=None)>
<_VariantDataset element_spec=TensorSpec(shape=(), dtype=tf.int64, name=None)>
<_VariantDataset element_spec=TensorSpec(shape=(), dtype=tf.int64, name=None)>

In [28]:
for window_dataset in dataset:
  print([item.numpy() for item in window_dataset])

[0, 1, 2, 3, 4]
[1, 2, 3, 4, 5]
[2, 3, 4, 5, 6]
[3, 4, 5, 6, 7]
[4, 5, 6, 7, 8]
[5, 6, 7, 8, 9]
[6, 7, 8, 9]
[7, 8, 9]
[8, 9]
[9]

In [33]:
dataset = tf.data.Dataset.range(10)

dataset = dataset.window(size = 5, shift = 1, drop_remainder = True)

for window_dataset in dataset:
  print([item.numpy() for item in window_dataset])

[0, 1, 2, 3, 4]
[1, 2, 3, 4, 5]
[2, 3, 4, 5, 6]
[3, 4, 5, 6, 7]
[4, 5, 6, 7, 8]
[5, 6, 7, 8, 9]

In [34]:
type(dataset)

tensorflow.python.data.ops.dataset_ops.WindowDataset

In [35]:
dataset = tf.data.Dataset.range(10)

dataset = dataset.window(5, shift = 1, drop_remainder = True)

dataset = dataset.flat_map(lambda window: window.batch(5))

for window in dataset:
  print(window.numpy())

[0 1 2 3 4]
[1 2 3 4 5]
[2 3 4 5 6]
[3 4 5 6 7]
[4 5 6 7 8]
[5 6 7 8 9]

In [36]:
type(dataset)

tensorflow.python.data.ops.dataset_ops.FlatMapDataset

In [39]:
dataset = tf.data.Dataset.range(10)

dataset = dataset.window(5, shift = 1, drop_remainder = True)

dataset = dataset.flat_map(lambda window: window.batch(5))

dataset = dataset.map(lambda window: (window[:-1], window[-1]))

for x, y in dataset:
  print('x = ', x.numpy())
  print('y= ', y.numpy())
  print()

x =  [0 1 2 3]
y=  4

x =  [1 2 3 4]
y=  5

x =  [2 3 4 5]
y=  6

x =  [3 4 5 6]
y=  7

x =  [4 5 6 7]
y=  8

x =  [5 6 7 8]
y=  9

In [40]:
dataset = tf.data.Dataset.range(10)

dataset = dataset.window(5, shift = 1, drop_remainder = True)

dataset = dataset.flat_map(lambda window: window.batch(5))

dataset = dataset.map(lambda window: (window[:-1], window[-1]))

dataset = dataset.shuffle(buffer_size = 10)

for x, y in dataset:
  print('x = ', x.numpy())
  print('y= ', y.numpy())
  print()

x =  [0 1 2 3]
y=  4

x =  [5 6 7 8]
y=  9

x =  [1 2 3 4]
y=  5

x =  [2 3 4 5]
y=  6

x =  [3 4 5 6]
y=  7

x =  [4 5 6 7]
y=  8

In [42]:
dataset = tf.data.Dataset.range(10)

dataset = dataset.window(5, shift = 1, drop_remainder = True)

dataset = dataset.flat_map(lambda window: window.batch(5))

dataset = dataset.map(lambda window: (window[:-1], window[-1]))

dataset = dataset.shuffle(buffer_size = 10)

dataset = dataset.batch(2).prefetch(1)

for x, y in dataset:
  print('x = ', x.numpy())
  print('y= ', y.numpy())
  print()

x =  [[1 2 3 4]
 [0 1 2 3]]
y=  [5 4]

x =  [[3 4 5 6]
 [4 5 6 7]]
y=  [7 8]

x =  [[2 3 4 5]
 [5 6 7 8]]
y=  [6 9]